<a href="https://colab.research.google.com/github/clepigdo/Latihan_STKI2025/blob/main/PythonBasic3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## Materi

- defining and using functions;
- different ways of passing arguments;
- name scopes;
- tuples and dictionaries;
- data processing.

# Function
Fungsi


Ketika Anda memanggil suatu fungsi, Python mengingat tempat terjadinya dan melompat ke fungsi yang dipanggil;
isi fungsi kemudian dieksekusi;
mencapai akhir fungsi memaksa Python untuk kembali ke tempat tepat setelah titik pemanggilan.

In [1]:
# Motivasi function adalah perulangan kode

print("Angka 1 :")
a = int(input())
print(a)

print("Angka 2 :")
b = int(input())
print(b)

print("Angka 3 :")
c = int(input())
print(c)

Angka 1 :
2
2
Angka 2 :
3
3
Angka 3 :
4
4

Sintaks Function:

```python
def functionName():
    functionBody
```

In [2]:
def inputAngka():
    print("Input Angka :")
    a = int(input())
    print(a)

print("Start disini... ")

inputAngka()
inputAngka()
inputAngka()

print("Stop disini... ")

Start disini...
Input Angka :
3
3
Input Angka :
2
2
Input Angka :
1
1
Stop disini...

### Fungsi parametrik

In [3]:
def pesan(m):
    print("Pesan ",m.lower())

pesan("Hallo")
pesan("Kamu siapa ?")

Pesan  hallo
Pesan  kamu siapa ?

In [6]:
def pesan(nama, nohp):
    print("Nama : ",nama, "No Hp : ",nohp)

pesan("Igdo", 12331231)
pesan("Manuel", "08172442131")

Nama :  Igdo No Hp :  12331231
Nama :  Manuel No Hp :  08172442131

In [8]:
def tambahUsia(nama, umur):
    umur = umur + 0.5
    print(nama, umur)

tambahUsia("Igdo Manuel", 30)

Igdo Manuel 30.5

### Posisi Parameter

In [10]:
def perkenalan(namaDepan, namaBelakang):
    print("Hallo namanya adalah : ", namaDepan, namaBelakang)

perkenalan("Igdo","Manuel")
perkenalan("Manuel","Igdo")

Hallo namanya adalah :  Igdo Manuel
Hallo namanya adalah :  Manuel Igdo

In [11]:
perkenalan(namaDepan = "Igdodols", namaBelakang = "Manuel")
perkenalan(namaBelakang = "Firnanda", namaDepan = "Rahmawati")

Hallo namanya adalah :  Igdodols Manuel
Hallo namanya adalah :  Rahmawati Firnanda

In [12]:
def jumlah(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

jumlah(4,1,5)

4 + 1 + 5 = 10

## Default parameter

In [13]:
def introduction(firstName="John",lastName="Smith"):
    print("Hello, my name is", firstName, lastName)

#Call the Function here
introduction(firstName="Igdo")
introduction(firstName="Igdo", lastName="Manuel")
introduction("Igdo", lastName="Manuel")

Hello, my name is Igdo Smith
Hello, my name is Igdo Manuel
Hello, my name is Igdo Manuel

In [14]:
def introductionLengkap(firstName, lastName, middleName="Ragil"):
    print("Hello, my name is", firstName, middleName, lastName)

#Call the Function here
introductionLengkap(firstName="Igdo", lastName="Manuel", middleName="IGBRO")

Hello, my name is Igdo IGBRO Manuel

## Function dengan Return

In [15]:
def hitungLuasLingkaran(r):
    import math
    pi = math.pi
    luas = pi * r * r
    return luas

# buat sebuah fungsi untuk menghitung luas segitiga
def hitungLuasSegitiga(a,t):
    luas = 0.5 * a * t
    return luas


x = hitungLuasLingkaran(6)
y = hitungLuasSegitiga(5,10)

print(x)
print(y)

113.09733552923255
25.0

In [16]:
def boringFunction():
    print("'Boredom Mode' ON.")
    return 123

print("This Lesson is interesting!")
x = boringFunction()
print(x)
print("test")

This Lesson is interesting!
'Boredom Mode' ON.
123
test

In [17]:
def jumlah(a,b):
    c = a + b
    return c

a = jumlah(3,4)
print(a)

7

In [18]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True

#Call the Function here

print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [19]:
def sumOfList(lst):
    sum = 0

    for elem in lst:
        sum += elem

    return sum

#Call the Function here
x = sumOfList([2,2,2,2,2])
print(x)

10

In [20]:
def strangeListFunction(n):
    strangeList = []

    for i in range(0, n):
        print("Insert",i)
        strangeList.insert(0, i)
        print(strangeList)

    return strangeList

#Call the Function here
print("Hasil : ", strangeListFunction(10))

Insert 0
[0]
Insert 1
[1, 0]
Insert 2
[2, 1, 0]
Insert 3
[3, 2, 1, 0]
Insert 4
[4, 3, 2, 1, 0]
Insert 5
[5, 4, 3, 2, 1, 0]
Insert 6
[6, 5, 4, 3, 2, 1, 0]
Insert 7
[7, 6, 5, 4, 3, 2, 1, 0]
Insert 8
[8, 7, 6, 5, 4, 3, 2, 1, 0]
Insert 9
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
Hasil :  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Latihan

Tugas Anda adalah menulis dan menguji fungsi yang menerima satu argumen (tahun) dan mengembalikan `True` jika tahun tersebut merupakan tahun kabisat, atau `False` jika tidak.

Benih fungsi tersebut sudah disemai dalam kode kerangka di editor.

Catatan: kami juga telah menyiapkan kode pengujian singkat, yang dapat Anda gunakan untuk menguji fungsi Anda.

Kode ini menggunakan dua daftar - satu berisi data uji, dan yang lainnya berisi hasil yang diharapkan. Kode ini akan memberi tahu Anda jika ada hasil yang tidak valid.

```python
def isYearLeap(year):
#
# put your code here
#

testData = [1900, 2000, 2016, 1987]
testResults = [False, True, True, False]
for i in range(len(testData)):
	yr = testData[i]
	print(yr,"->",end="")
	result = isYearLeap(yr)
	if result == testResults[i]:
		print("OK")
	else:
		print("Failed")
        
```

In [21]:
# Function Test tahun Kabisat
def isYearLeap(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

testData = [1900, 2000, 2016, 1987,2004]
testResults = [False, True, True, False, True]
for i in range(len(testData)):
    yr = testData[i]
    print(yr,"->",end="")
    result = isYearLeap(yr)
    if result == testResults[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK
2004 ->OK

## Scope in Function

In [22]:
def scopeTest():
    print(a)
    b = 120
    print(b)

#Call the Function here

a = 90
scopeTest()

90
120

In [23]:
def myFunction():
    print("Do I know that variable?", var)

#Call the Function here
var = 1
myFunction()
print(var)

# The answer is: a variable existing outside a function
# has a scope inside the functions' bodies.

Do I know that variable? 1
1

In [24]:
def myFunction():
    global var
    var = 2
    print("Do I know that variable?", var)

#Call the Function here
var = 1
myFunction()
print(var)

# There's a special Python method which can extend a variable's scope
# in a way which includes the functions' bodies
# (even if you want not only to read the values, but also to modify them).

Do I know that variable? 2
2

In [25]:
def myFunction(n):
    print("I got", n)
    n += 1
    print("I have", n)

#Call the Function here
var = 1
myFunction(var)

print(var)

#changing the parameter's value doesn't propagate outside the function

I got 1
I have 2
1

# Some Function Examples

## BMI
(Body Mass Index)

In [26]:
def bmi(weight, height):
    return weight / height ** 2

print(bmi(65, 1.69))

22.758306781975424

In [27]:
def bmi(weight, height):
    if height < 1.0 \
    or height > 2.5 \
    or weight < 20 \
    or weight > 200:
        return None

    return weight / height ** 2

print(bmi(70, 1.69))

24.508945765204302

## Segitiga

In [28]:
def isItATriangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False

    return True

#Call the Function here
print(isItATriangle(1,1,1))
print(isItATriangle(1,2,2))

True
True

In [30]:
def isItATriangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

a = float(input("Masukkan panjang sisi pertama:"))
b = float(input("Masukkan panjang sisi kedua: "))
c = float(input("Masukkan panjang sisi ketiga: "))

if isItATriangle(a, b, c):
    print("Selamat - itu bisa menjadi segitiga.")
else:
    print("Maaf, itu bukan segitiga.")

Masukkan panjang sisi pertama:20
Masukkan panjang sisi kedua: 10
Masukkan panjang sisi ketiga: 32
Maaf, itu bukan segitiga.

## Faktorial

In [31]:
def factorialFun(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

#Call the Function here
for n in range(1, 15): # testing
    print(n, factorialFun(n))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200

## Fibonacci

In [32]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem1 = elem2 = 1
    sum = 0
    for i in range(3, n + 1):
        sum = elem1 + elem2
        elem1, elem2 = elem2, sum
    return sum

#Call the Function here
for n in range(1, 10): #testing
    print(n, ">", fib(n))

1 > 1
2 > 1
3 > 2
4 > 3
5 > 5
6 > 8
7 > 13
8 > 21
9 > 34

## Recursion

In [33]:
#recursion 1
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10): # testing
    print(n, "->", fib(n))

#recursion 2

def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34
56

#### Contoh Kasus Stop Word Removal

In [34]:
kalimat = "Ibu pergi ke pasar dengan Bapak"
stopw = ['ke','dengan','saya','dia']

def removeStop(sentence):
#     words = []
    words = [word for word in sentence.split() if word not in stopw]
#     for word in sentence.split():
#         if word not in stopw:
#             words.append(word)

    return ' '.join(words)

# print('ke' in kalimat.split())
kalimat_stop = removeStop(kalimat.lower())

print(kalimat_stop)
# output kalimat_stop: Ibu pergi pasar Bapak"

ibu pergi pasar bapak

# Tuples and Dictionaries

##### List VS Tuple
List datanya bisa dirubah selama eksekusi program, sifatnya bernama mutable
Sebaliknya tuple tidak bisa, sifatnya dinamakan immutable. Persamaannya keduanya sama-sama bisa menyimpan banyak nilai sekaligus dalam satu tipe data (sequence type)

## Tuples
Tuple adalah kumpulan data yang terurut dan tidak dapat diubah (immutable). Tuple dapat dianggap sebagai daftar yang tidak dapat diubah. Tuple ditulis dalam tanda kurung bulat:

In [35]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#Print Function here
print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#Print Function here
print(myList)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

In [36]:
tup1 = (1,2,3,4)
tup2 = 1.0, .5, .25, .124

print(tup1)
print(tup2)

(1, 2, 3, 4)
(1.0, 0.5, 0.25, 0.124)

In [37]:
emptyTuple = ()
print(type(emptyTuple))

<class 'tuple'>

In [38]:
myTuple = (1, 10, 100, 1000)

print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])

for elem in myTuple:
    print(elem, end = " ")

1
1000
(10, 100, 1000)
(1, 10)
1 10 100 1000

In [39]:
myTuple = (1, 10, 100, 1000)

#Tuple operation ?

# myTuple.append(10000)
# del myTuple[0]
# myTuple[1] = -10

In [40]:
myTuple = (1, 10, 100)
print(type(myTuple))

#Tuple operation
print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])
# Print Function here

<class 'tuple'>
1
100
(10, 100)
(1,)

In [41]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

## Dictionaries

Dalam dunia Python, kata yang Anda cari disebut kunci. Kata yang Anda dapatkan dari kamus disebut nilai.

Kamus adalah kumpulan data yang tidak berurutan*, dapat diubah (mutable), dan terindeks. (*Dalam Python 3.6x, kamus telah diurutkan secara default.

Ini berarti kamus adalah sekumpulan pasangan kunci-nilai. Catatan:

- setiap kunci harus unik - tidak mungkin memiliki lebih dari satu kunci dengan nilai yang sama;
- kunci dapat berupa data bertipe apa pun: dapat berupa angka (integer atau float), atau bahkan string;
- kamus bukanlah daftar - daftar berisi sekumpulan nilai bernomor, sementara kamus menyimpan pasangan nilai;
- fungsi len() juga berfungsi untuk kamus - fungsi ini mengembalikan jumlah elemen kunci-nilai dalam kamus;
- kamus adalah alat satu arah - jika Anda memiliki kamus Inggris-Prancis, Anda dapat mencari padanan bahasa Prancis untuk istilah bahasa Inggris, tetapi tidak sebaliknya.

In [42]:
kamus = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : [22657854310,52852352]}
emptyDictionary = {}

print()
print(phoneNumbers)
print(emptyDictionary)

{'boss': 5551234567, 'Suzy': [22657854310, 52852352]}
{}

In [43]:
print(kamus['cat'])
print(phoneNumbers['Suzy'])
print(phoneNumbers['Suzy'][0])

chat
[22657854310, 52852352]
22657854310

In [44]:
dict = {"horse" : "cheval", "cat" : "chat", "dog" : "chien"}

for key in dict.keys():
    print(key,dict[key])

horse cheval
cat chat
dog chien

In [45]:
for key in sorted(dict.keys()):
    print(key, "->", dict[key])

cat -> chat
dog -> chien
horse -> cheval

### items and values

In [46]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for english, french in dict.items():
    print(english, "->", french)

cat -> chat
dog -> chien
horse -> cheval

In [47]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for french in dict.values():
    print(french)

chat
chien
cheval

In [48]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
words = ['cat', 'lion', 'horse','mouse']

for word in words:
    if word in dict:
        print(word, "->", dict[word])
    else:
        print(word, "is not in dictionary")

cat -> chat
lion is not in dictionary
horse -> cheval
mouse is not in dictionary

### Replace

In [49]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

dict['cat'] = 'minou'
print(dict)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

### Adding new key

In [50]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

dict['swan'] = 'cygne'
dict['animal'] = 'hewan'
print(dict)

for key in sorted(dict.keys()):
    print(key,dict[key])

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne', 'animal': 'hewan'}
animal hewan
cat chat
dog chien
horse cheval
swan cygne

### Tuple dan Kamus Bekerja Bersama

- baris 1: buat kamus kosong untuk data masukan; nama siswa digunakan sebagai kunci, sementara semua skor terkait disimpan dalam sebuah tupel (tupel tersebut bisa berupa nilai kamus - itu sama sekali bukan masalah)
- baris 3: masukkan loop "tak terbatas" (jangan khawatir, loop akan berhenti di saat yang tepat)
- baris 4: baca nama siswa di sini;
- baris 5-6: jika namanya keluar, keluar dari loop;
- baris 8: minta salah satu skor siswa (bilangan bulat dari rentang 1-10)
- baris 10-11: jika nama siswa sudah ada di kamus, perpanjang tupel terkait dengan skor baru (perhatikan operator +=)
- baris 12-13: jika ini adalah siswa baru (tidak diketahui kamus), buat entri baru - nilainya adalah tupel satu elemen yang berisi skor yang dimasukkan; - baris 15: iterasi melalui nama-nama siswa yang telah diurutkan;
- baris 16-17: inisialisasi data yang diperlukan untuk mengevaluasi rata-rata (penjumlahan dan penghitung)
- baris 18-20: iterasi melalui tupel, mengambil semua skor berikutnya dan memperbarui penjumlahan, beserta penghitungnya;
- baris 21: evaluasi dan cetak nama siswa dan skor rata-rata.

In [51]:
schoolClass = {}

while True:
    name = input("Masukkan nama siswa (atau ketik exit untuk berhenti): ")
    if name == 'exit':
        break

    score = int(input("Masukkan skor siswa (0-10): "))

    if name in schoolClass:
        schoolClass[name] += (score,)
    else:
        schoolClass[name] = (score,)

print(schoolClass)

for name in sorted(schoolClass.keys()):
    sum = 0
    counter = 0
    for score in schoolClass[name]:
        sum += score
        counter += 1
    print(name, ":", sum / counter)

Masukkan nama siswa (atau ketik exit untuk berhenti): 23
Masukkan skor siswa (0-10): 12
Masukkan nama siswa (atau ketik exit untuk berhenti): 3123
Masukkan skor siswa (0-10): 12
Masukkan nama siswa (atau ketik exit untuk berhenti): exit
{'23': (12,), '3123': (12,)}
23 : 12.0
3123 : 12.0

In [52]:
def tf(sentence):
    d = {}
    for word in sentence.split():
        if word not in d:
            d[word] = 1
        else:
            d[word] += 1
    return d

kalimat = "Ibu pergi ke pasar dengan Bapak dan Ibu Ibu lain"
stopw.append('dan')
stopw.append('lain')
kalimat_stop = removeStop(kalimat.lower())
tf_kalimat = tf(kalimat_stop)

print(tf_kalimat)

{'ibu': 3, 'pergi': 1, 'pasar': 1, 'bapak': 1}

In [53]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#print(myList)

for r in myTuple[::-1]:
    print(r)

None
[5, 6]
(3, 4)
a string
True
2
1

In [54]:
emptyTuple = ()
print(type(emptyTuple))    # outputs: <class 'tuple'>

<class 'tuple'>

In [55]:
myListTuple = list(myTuple)
print(myListTuple)
myTupleLagi = tuple(myListTuple)
print(myTupleLagi)

[1, 2, True, 'a string', (3, 4), [5, 6], None]
(1, 2, True, 'a string', (3, 4), [5, 6], None)

In [56]:
oneElemTup1 = ("one",  )    # brackets dan koma, kalau tidak ada komanya jadi string
oneElemTup2 = "one",     # no brackets, just a comma

print(type(oneElemTup1))
print(len(oneElemTup1+oneElemTup2))

oneElemList = ['one']
print(type(oneElemList))

<class 'tuple'>
2
<class 'list'>

In [57]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [58]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

mahasiswa = [
    {
        'nim' : '08/123123/PA/123213',
        'nama' : 'Igdo Ragil Manuel',
        'nilai' : [80,90,75,30]
    },
    {
        'nim' : '08/213123/PA/98120',
        'nama' : 'Supeni Mulyono',
        'nilai' : [100,90,77,110]
    }
]
mahasiswa_baru = {
    'nim' : '12/12414/PA/12312',
    'nama' : 'Mukhozinn Zekki'
}

mahasiswa.append(mahasiswa_baru)
mahasiswa[0]['nilai'].append(79)
mahasiswa[2]['nilai'] = [80,100,95,25]

#pp.pprint(mahasiswa)
pp.pprint(mahasiswa[0]['nilai'][-1])

79

In [60]:
paragraf = """
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia. Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing. Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang. Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan. Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara.
"""

#sintaks ini
kalimat = [k.strip().upper() for k in paragraf.split('.')] #memisahkan kalimat berdasarkan titik untuk menjadi list
# print(kalimat)

#sama dengan ini
kalimat_baru = []
for k in paragraf.split('.'):
    kalimat_baru.append(k.strip())
#     if k.endswith('dunia'):
#         print("Ada Dunia pada kalimat",k)

    if k.find('dunia'):
        print("Ada dunia pada kalimat",k)


#versi satu satu
kalimat_a = paragraf.split('.') #memisahkan kalimat berdasarkan titik di paragraf
kalimat_a[1] =  kalimat_a[1].strip() #menghilangkan spasi
kalimat_a[2] =  kalimat_a[2].strip() #menghilangkan spasi

Ada dunia pada kalimat
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia
Ada dunia pada kalimat  Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing
Ada dunia pada kalimat  Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang
Ada dunia pada kalimat  Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan
Ada dunia pada kalimat  Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara
Ada dunia pada kalimat

In [61]:
k = "Igdo Ragil Manuel "
print(k.capitalize())
print(k.endswith("budi h"))

Igdo ragil manuel
False